*.o

archive.zip
sources/generated/*

sources/Display/Objects - Display/*

sources/Device54/*.scvd
sources/Device54/Objects/*
sources/Device54/Listings/*
sources/Device54/DebugConfig/*
sources/Loader54/Objects/*
sources/Loader54/Listings/*
sources/Loader54/DebugConfig/*
sources/Loader54/_obj/*
sources/Loader54/_lst/*

sources/Device54/*.out
sources/Loader54/*.out
sources/Device54/*.bin

sources/*.uvgui.*
sources/Device54/*.uvguix.*
sources/Loader54/*.uvguix.*

sources/VS/ControlPanel/ControlPanel/bin/
sources/VS/ControlPanel/ControlPanel/obj/
sources/VS/ControlPanel/.vs/
sources/VS/ControlPanel/bin/
sources/VS/ControlPanel/obj/

