*.out
*.uvgui*.*
*.dbgconf

JLinkLog.txt

.vs/*

sources/_VS/S8-54/.vs/*

doc/disk/*
doc/doxygen/S8-54/*
doc/doxygen/stm32f4/*

sources/_obj/*
sources/_lst/*

sources/_VS/S8-54/Debug/*
sources/_VS/S8-54/Device54/Debug/*
sources/_VS/S8-54/Loader54/Debug/*

sources/Loader/_obj/*
sources/Loader/_lst/*
